html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F1F1F1;
    margin-bottom: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Handjet', cursive;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    user-select: none;
}

#container {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: rgb(70, 70, 70);
    height: 37.5rem;
    width: 33.5rem;
    border-radius: 1.5rem;
}

#name {
    font-size: 2.5rem;
    color: #F1F1F1;
}

#above-display{
    display: flex;
    justify-content: space-between;
}

#solar {
    display: flex;
    margin-right: .44rem;
}

#solar div {
    background-color: rgb(48, 28, 28);
    min-width: 1.875rem;
    min-height: .625rem;
    border: .0625rem solid black;
}

#display {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    min-width: 30.125rem;
    min-height: 6.5rem;
    background-color: rgb(89, 124, 89);
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    border-radius: .8rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: .15rem solid rgb(34, 34, 34);
    overflow: hidden;
}

#display-up{
    position: absolute;
    overflow: hidden;
    max-width: 30.125rem;
    top: 8.75rem;
    font-size: 1.5rem;
    font-family: 'Handjet', cursive;
    font-family: 'Orbitron', sans-serif;
}

#display-down{
    font-size: 3rem;
    font-family: 'Handjet', cursive;
    font-family: 'Orbitron', sans-serif;
}

#body {
    display: flex;
    flex-wrap: wrap;
}

#body button {
    width: 5.8rem;
    height: 5rem;
    margin: .43rem .43rem;
    border-radius: .8rem;
    font-size: 2.5rem;
    background-color: rgb(209, 207, 207);
    border: .15rem solid rgb(34, 34, 34);
    cursor: pointer;
}

#body button:hover{
    opacity: 75%;
}

#body button:active{
    opacity: 50%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: .8rem;
    white-space: nowrap;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;  
}

@media (max-width: 600px){
    
    body {
        margin-bottom: 1.95rem;
    }
    
    #container {
        margin-top: .78rem;
        padding: .31rem;
        padding-bottom: .94rem;
        height: 11.72rem;
        width: 10.5rem;
        border-radius: .47rem;
    }
    
    #name {
        font-size: .78rem;
    }
    
    #solar {
        margin-right: .14rem;
    }
    
    #solar div {
        min-width: .56rem;
        min-height: .19rem;
        border: .019rem solid black;
    }
    
    #display {
        gap: .31rem;
        padding: .31rem;
        min-width: 9.41rem;
        min-height: 2rem;
        margin-top: .39rem;
        margin-bottom: .625rem;
        border-radius: .25rem;
        margin-right: 0.15rem;
        margin-left: 0.15rem;
        border: .046rem solid rgb(34, 34, 34);
    }
    
    #display-up{
        max-width: 9.4rem;
        top: 2.73rem;
        font-size: .47rem;
    }
    
    #display-down{
        font-size: .94rem;
    }
    
    #body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
    }

    #body button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-decoration: none;
        width: 1.81rem;
        height: 1.56rem;
        margin: .13rem .13rem;
        border-radius: .25rem;
        font-size: .78rem;
        border: .047rem solid rgb(34, 34, 34);
    }
    
    footer {
        margin-bottom: .25rem;
        font-size: .56rem;
    }
}